.env
.coverage*
cpredicates.c
*.code-workspace
libdistance-0.2.1
build
_build
*.pyc
logfile
*.*~
*.o
*.so
*.py.*
*.*gz
*.html
.#*
*.*#
*.json
examples/output/*.*
examples/csv_example/csv_example_output.csv
*output.csv
examples/mysql_example/*.txt*
*.db
kernprof.py
possible_classifiers
.DS_Store
mysql.cnf
*settings
Dedupe.egg-info/
dedupe.egg-info/
ENV
dist
.coverage
src/*.c
