branches:
  only:
    - master

language: python
notifications:
  email: false
python:
  - "2.7"
  - "2.6"
install:
  - if [ "$TRAVIS_PYTHON_VERSION" == "2.6" ]; then pip install --use-mirrors -r py26_requirements.txt; fi
  - if [ "$TRAVIS_PYTHON_VERSION" == "2.7" ]; then pip install --use-mirrors -r requirements.txt; fi
  - python setup.py install
# command to run tests, e.g. python setup.py test
script: python test/test_dedupe.py
