pytest
pytest-cov
cython
mock
fastcluster
dedupe-hcluster
affinegap>=1.3
categorical-distance>=1.9
future
rlr>=2.3
doublemetaphone
highered>=0.2.0
canonicalize
simplecosine>=1.1
haversine>=0.4.1
BTrees>=4.1.4
simplejson
zope.index
Levenshtein_search