
/* ========== */
/* Typography */
/* ========== */

body {
    font-size: 16px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Arial', sans-serif;
}

h1, h1 a, h2, h2 a, h3, h3 a {
    color: #666;
    font-weight: bold;
}

/* Override some of the built-in RTD fonts */
h1, h2, h3, h4, h5, h6, legend,
.rst-content .toctree-wrapper p.caption {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

h1 a:hover, h2 a:hover, h3 a:hover {
    color: #333;
}

a, a:visited, .wy-menu-vertical a { color: #F26F80;}
a:hover { color: #F26F80;}
a:active, a:focus { outline: 0;}

.navbar-nav > li > a,
.navbar-brand {
    height: 40px;
}

.navbar-nav > li > a {
    padding-top: 10.5px;
    line-height: 20.57px;
}

.navbar {
    min-height: 40px;
}

.navbar-fixed-top .navbar-collapse {
    padding-right: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #555;
}

.navbar-logo {
  height: 15px;
  margin: 13px;
}

.nav > li {
    font-size: 0.9em;
    margin-right: 1.1px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #F26F80;
    background-color: transparent;
}

.navbar-brand {
    font-size: 17px;
    padding: 11px 15px;
}

/* ================ */
/* Navs and footers */
/* ================ */

.footer {
    background-color: #CAD8E7;
    padding: 20px 0;
    margin-top: 20px;
    font-size: 0.9em;
}

.footer a {
  color: #29446F;
}

/* Remove Bootstrap navbar stuff */
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

/* Pad headers so that the navbar doesn't headbutt them */
/* (Thx to Chris Coyer on CSS-Tricks for the elegant sol'n) */
/* https://css-tricks.com/hash-tag-links-padding/ */
h1:before, h2:before, h3:before,
h4:before, h4:before, h6:before { 
    display: block; 
    content: " "; 
    margin-top: -55px; 
    height: 55px; 
    opacity: 0;
    pointer-events: none;
}

/* Padding for method/class permalinks, which require more finesse */
/* (Use fake padding instead of an invisible ::before pseudo-element) */
.rst-content dl:not(.docutils) dt,
.rst-content dl:not(.docutils) dl dt,
.rst-content dl:not(.docutils) dt:first-child {
    padding-top: 55px;
    margin-top: -55px;
    background: none;
    border-top: none;
    border-left: none;
    margin-bottom: 10px;
}

/* Use ::before pseudo-elements to style the method/class permalinks */
.rst-content dl:not(.docutils) dt:before,
.rst-content dl:not(.docutils) dl dt:before {
    display: block;
    content: " ";
    margin-bottom: -23px;
    height: 28px;
    background: #e7f2fa;
    border-top: solid 3px #6ab0de;
}

/* Methods should be grey */
.rst-content dl:not(.docutils) dl dt:before {
    background: #f0f0f0;
    border-top: none;
    border-left: solid 3px #ccc;
    margin-left: -5px;
}

/* =================== */
/* RTD theme overrides */
/* =================== */

/* Remove sidebar background colors */
.wy-nav-side, .wy-side-nav-search {
    background: #fcfcfc;
}

/* Remove dark colors from the background */
.wy-body-for-nav {
    background: #fcfcfc;
    background-image: none;
}

/* Give the nav a little bit of padding */
.wy-nav-side {
    padding-left: 10px;
    top: 52px;
}

/* Restyle mobile nav */
.wy-nav-top {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}

/* Give the hamburger menu styles like Bootstrap */
.wy-nav-top i {
    padding: 5px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #7777;
    border-radius: 4px;
    border-color: #ddd;
    color: #777;
}

.wy-nav-top i:hover {
    background-color: #ddd;
}

/* Pad the content just a lil */
.wy-nav-content {
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
}

/* Sidebar text should always be dark */
.wy-side-nav-search,
.wy-side-nav-search > a,
.wy-side-nav-search .wy-dropdown > a,
.wy-side-nav-search > div.version {
    color: #777777
}

/* Hover styles for the menu links */
.wy-menu > ul > li > a:hover,
.wy-menu > ul > li > a:focus {
    background-color: #EFEFEF;
    color: #F26F80;
    font-weight: bold;
}

/*Make the search bar less garish */
.wy-side-nav-search input[type="text"] {
    border-color: #fcfcfc;  /* hacky override for the gross border */
    border-radius: 5px;
}

/* Right-align the sidebar text */
.wy-menu-vertical {
    text-align: right;
}

/* Version box in the lower left-hand corner */
.rst-versions {
    background: #ababab;
    border-top: none;
}

.rst-versions .rst-current-version {
    background-color: #7d7d7d;
    color: #ffffff;
}

.rst-versions .rst-other-versions {
    color: #4e4e4e;
}

/* ============= */
/* Media queries */
/* ============= */

/* Remove Dedupe.io navbar at small breakpoints */
@media (max-width: 768px) {

    #dedupe-nav {
      display: none;
    }

    .wy-nav-side {
      top: 0;
    }

    .wy-nav-content {
      margin-top: 0;
    }

    .wy-nav-top a {
        text-decoration: none;
    }
}

/* Get rid of mysterious dark void that appears on big screens */
@media screen and (min-width: 1400px) {
    .wy-nav-content-wrap {
        background: #fcfcfc;
    }
}
